name: squid-proxy
serviceType: managed

image:
  registry: gsoci.azurecr.io
  name: giantswarm/squid
  tag: 5.6-22.10_beta-giantswarm_gs1
  pullPolicy: IfNotPresent

controller:
  replicas: 2
  maxUnavailable: 1
  maxSurge: 1
  minReadySeconds: 10
  service:
    name: squid-proxy
    public: true

podSecurityPolicy:
  enabled: true

provider: "aws"

# Add seccomp to pod security context
podSecurityContext:
  runAsNonRoot: false
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
securityContext:
  allowPrivilegeEscalation: false
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop:
      - ALL
    add:
      - NET_BIND_SERVICE

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    memory: 256Mi

global:
  podSecurityStandards:
    enforced: false
