apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "labels.common" . | nindent 4 }}
data:
  allowlist.conf: |
    acl whitelist dstdomain "/etc/squid/conf.d/allowlist-domains"
    http_access allow whitelist
    http_access deny all
  allowlist-domains: |
    .alpinelinux.org
    .amazonaws.com
    .api.letsencrypt.org
    api.opsgenie.com
    azure.microsoft.com
    .blob.core.windows.net
    .cloudfront.net
    cronitor.io
    cronitor.link
    .docker.com
    .docker.io
    europe-north1-docker.pkg.dev
    events.eu.pagerduty.com
    .flatcar-linux.org
    ghcr.io
    giantswarm.azurecr.io
    giantswarmpublic.azurecr.io
    .gigantic.io
    .github.com
    .github.io
    grafana.com
    .grafana.net
    .grafana.org
    graph.microsoft.com
    gsoci.azurecr.io
    gsociprivate.azurecr.io
    .slack.com
    k8s.gcr.io
    .keybase.io
    login.microsoftonline.com
    o346224.ingest.sentry.io
    pkg-containers.githubusercontent.com
    .quay.io
    raw.githubusercontent.com
    registry.k8s.io
    schema.giantswarm.io
    .sigstore.dev
    storage.googleapis.com
    teleport.giantswarm.io
    vault.operations.giantswarm.io
    xpkg.upbound.io
